[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "miceRanger"]
	path = miceRanger
	url = https://github.com/farrellday/miceranger
